@media screen and (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media screen and (max-width: 1601px) {
    #section-1 .content-container {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.6);
        position: absolute;
        top: calc(50% - 250px);
        left: calc(50% - 250px);
        text-align: center;
    }
}

@media screen and (max-width: 1367px) {
    body {
        font-size: 15px;
    }

    header #logo {
        width: 130px;
    }

    header nav ul {
        margin: 23px auto 0;
    }

    header nav ul li a {
        padding: 8px 22px;
    }

    header nav ul.quickaction .user-actions:before {
        top: calc(50% - 4px);
        border-top: 8px solid #71B548;
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }

    header nav ul.quickaction .user-actions {
        font-size: 15px;
        padding: 7px 28px 7px 15px;
    }

    #section-1 {
        height: calc(100vh - -14px);
    }

    main {
        margin-top: 84px;
    }

    #section-1 .content-container {
        width: 430px;
        height: 430px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.6);
        position: absolute;
        top: calc(50% - 215px);
        left: calc(50% - 215px);
        text-align: center;
    }

    #section-1 h4 {
        color: #71B548;
        margin-top: 4px;
        font-size: 36px;
    }

    #section-1 .content p {
        font-size: 28px;
        margin-top: 10px;
    }

    #section-1 .content button {
        font-size: 24px;
        padding: 8px 30px;
        border-radius: 4px;
        margin-top: 20px;
    }

    .section h5 {
        font-size: 34px;
    }

    .section {
        padding: 50px 0;
    }

    .section h3.title-section {
        font-size: 40px;
    }

    #section-2 .in-section2 {
        width: 85%;
        margin-top: 50px;
    }

    #section-2 .text {
        margin: 20px auto 0;
        font-size: 18px;
    }

    #section-3 {
        padding: 60px 0;
    }

    #section-3 .in-section3 {
        margin-top: 110px;
    }

    #section-3 h5 {
        margin-top: 12px;
        font-size: 15px;
        line-height: 42px;
    }

    #section-4 .in-container span {
        background-size: auto 65px;
        padding: 110px 38px 0;
        font-size: 18px;
    }

    #section-5 p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #section-5 h3 {
        color: #71B548;
        margin-bottom: 50px;
    }

    #section-6 a {
        font-size: 20px;
        padding: 12px 30px;
        border-radius: 4px;
        margin-top: 20px;
    }

    footer h3 {
        font-size: 16px;
    }

    #page-login {
        padding: 35px 0 35px;
    }

    .frm-login .form-control {
        height: 40px;
        font-size: 15px;
    }

    #page-login h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .frm-login .btn {
        font-size: 20px;
        height: 40px;
        line-height: 25px;
    }

    .page-login-description .row .content-1 {
        min-height: 130px;
    }

    .page-login-description .row .content {
        padding-left: 190px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 140px auto;
    }

    #page-login .section {
        padding: 20px 0;
    }

    .page h2 {
        font-size: 22px;
    }

    .page {
        padding: 30px 0;
    }

    .item-his {
        font-size: 16px;
        padding: 12px 0;
    }

    .item-his .item-his-inner {
        margin: 12px 0;
    }

    .item-his .item-his-date,
    .item-his .item-his-hours {
        margin: 0 15px 10px 15px;
    }

    .wrap-his {
        margin-top: 35px;
    }

    .wrap-his-head {
        font-size: 16px;
    }

    .route-acc {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .route-acc a {
        font-size: 16px;
    }

    .form-control {
        height: 36px;
        font-size: 15px;
    }

    .btn {
        height: 36px;
        font-size: 15px;
    }

    .wrap-dash .status {
        font-size: 16px;
    }

    .wrap-dash .icon-dash {
        height: 50px;
        margin-bottom: 5px;
    }

    .wrap-dash .icon-dash img {
        width: 80%;
    }

    .wrap-dash-top h3 {
        font-size: 20px;
    }

    .item-mystuff {
        font-size: 16px;
    }

    .item-mystuff-img img {
        width: 160px;
        height: 160px;
    }

    .item-mystuff .item-mystuff-desc {
        margin-top: 10px;
    }

    .in-container {
        width: 85%;
    }
}

@media screen and (max-width: 1281px) {

}

@media screen and (max-width: 1024px) {
    header nav ul li a {
        padding: 6px 12px;
    }

    header #logo {
        width: 100px;
        margin-bottom: 13px;
    }

    header nav ul {
        margin: 20px auto 0;
    }

    header nav ul.quickaction .user-actions {
        padding: 5px 28px 5px 15px;
    }

    main {
        margin-top: 70px;
    }

    #section-1 {
        height: calc(100vh - 78px);
    }

    #section-1 .content-container {
        width: 400px;
        height: 400px;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
    }

    #section-1 h4 {
        font-size: 32px;
    }

    #section-1 .content p {
        font-size: 24px;
    }

    #section-1 .content button {
        font-size: 20px;
        padding: 7px 25px;
    }

    .section h3.title-section {
        font-size: 36px;
    }

    .section {
        padding: 40px 0;
    }

    #section-2 .text {
        margin: 15px auto 0;
        font-size: 17px;
    }

    #section-2 .in-section2 {
        margin-top: 40px;
    }

    #section-3 .in-section3 {
        margin-top: 70px;
        width: 85%;
    }

    #section-3 h5 {
        margin-top: 15px;
        line-height: 36px;
    }

    #section-4 .in-container span {
        background-size: auto 55px;
        padding: 70px 30px 0;
        font-size: 16px;
    }
    
    #section-5 {
    	background-size: cover;
    }

    .section h5 {
        font-size: 30px;
    }

    #section-6 a {
        font-size: 18px;
        padding: 10px 25px;
        margin-top: 15px;
    }

    .in-container {
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    .hidden-991{
        display: none !important;
    }
    header nav ul li a {
        padding: 10px 12px;
    }

    header nav ul.quickaction .user-actions {
        padding: 9px 28px 9px 15px;
        width: 120px;
    }

    header nav ul li .sub-menu li a {
        font-size: 12px;
        padding: 8px 6px;
    }
    
    #page-dashmystuff .item-mystuff-deliver {
    	clear: left;
    	width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .navigation-trigger-label{
        display:block;
    }
    header nav ul {
        float: left;
    }

    header nav ul {
        width: 100%;
        margin: 0;
    }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul .order-now {
        border: none;
    }

    header nav ul.quickaction .user-actions {
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    header nav ul li .sub-menu {
        position: relative;
    }

    header nav ul li .sub-menu li a {
        font-size: 14px;
        padding: 12px 20px;
    }

    header nav ul.quickaction .user-actions-group {
        margin: 0;
    }

    .navigation-group {
        display: none;
    }

    .navigation-trigger:checked + .navigation-group {
        display: block;
    }

    main {
        margin-top: 68px;
    }

    #section-1 {
        height: calc(100vh - 68px);
    }
    
    #section-2 .image-circle{
        width: 60%;
        padding-bottom: 60%;
    }
    
    #section-2 .text{
        font-size: 24px;
        margin-bottom: 60px;
    }
    
    #section-3 .image-1 {
        background-size:contain;
    }
    
    #section-3 .image-2{
        background-size:contain;
    }
    #section-3 .image-3{
        background-size:contain;
    }
    
    #section-3 .text{
        font-size:28px;
        margin-top:10px;
        margin-bottom:40px;
    }
    
    #section-4 span{
        display: block;
        margin-top:40px;
        padding: 90px 50px 0;
    }
    
    .item-mystuff .item-mystuff-inner{
        background-size: 120px auto;
	    background-position: top left;
	    padding-left: 140px;
	    min-height: 120px;
    }
    
    .comming-text {
	    font-size: 100px;
	    margin-top: 60px;
	}
}

@media screen and (max-width: 500px) {
	.bin-type-container .type-title {
		display: block;
	}
	
	.bin-type-container .type-title .description {
	    position: inherit !important;
	    top: 0 !important;
	    left: 0 !important;
		margin-left: 10px;
	}
	
	.bin-type-container #Item-Large {
		margin-left: 0px !important;
	}
	
	.current-address {
		height: auto !important;
		line-height: 30px;
		font-size: 15px;
	}
	
	.order-line .schedule-step, .order-line .review-step, .order-line .billing-step, .order-line .confirm-step {
		font-size: 16px;
	}
	
	.order-line-section {
		height: 145px !important;
	}
	
	.order-view .chb-tc {
		margin-left: 0px;
	}
	
	.grey-section.billing-step {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.item-mystuff-desc-editor-trigger:checked + .item-mystuff-desc-editor {
		left: -125px;
	}
	
	.item-mystuff-desc-editor:before {
		left: 130px;
	}
	
	.item-mystuff-desc-editor {
		width: 325px;
	}
	
	.item-mystuff-desc-editor .desc-input {
		width: 165px;
	    float: left;
	}
	
	.comming-text {
	    font-size: 50px;
	    margin-top: 20px;
	}
}

@media screen and (max-width: 410px) {
	#page-dashmystuff .stuff-car-icon {
    	width: 95%;
    }
    
    .item-mystuff-desc, .item-mystuff .item-his-barcode {
		width: 170px;
	}
}

@media screen and (max-width: 320px) {
	.coming-logo {
		width: 185px;
		margin-top: 100px;
	}
	
	.comming-text {
	    font-size: 40px;
	    margin-top: 20px;
	}
}

/* Ipad Potrait */
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) { 
	.comming-text {
	    font-size: 85px;
	}
}