﻿* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #58595B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body.single-page
.page * {
    font-size: 18px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.nowrap {
    white-space: nowrap;
}

.bg-color {
    background-color: #71B548;
    color: white;
}

.color {
    color: #71B548;
}

.color:hover {
    color: #71B548;
}

.ta-center {
    text-align: center;
}

.bor-round {
    border-radius: 4px;
}

.bor-color {
    border-width: 1px;
    border-style: solid;
    border-color: #71B548;
}

.style-button {
    border: 1px solid #71B548;
    color: #71B548;
    background-color: white;
    border-radius: 4px;
}

.style-button:hover {
    border: 1px solid #71B548;
    color: white;
    background-color: #71B548;
}

.margin0300{
    margin:3px 0;
}

.fw-bold {
    font-weight: 500;
}

.fs24{
    font-size: 24px !important;
}

.fs18{
    font-size: 18px !important;
}

.ta-c{
    text-align:center;
}

.ta-l{
    text-align:left;
}

.ta-r{
    text-align:right;
}

.padding1215 {
    padding: 12px 15px;
}

.h46{
    height: 46px !important;
    font-size:16px !important;
}

/* header section */

header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px  rgba(0,0,0,0.2);
    box-shadow: 1px 1px  rgba(0,0,0,0.2);
}

.single-page header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header #logo {
    display: inline-block;
    float: left;
    width: 167px;
    margin-bottom: 10px;
    margin-top: 10px;
}

header #logo img {
    max-width: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 24px auto 0;
    display: inline-block;
    float: right;
}

header nav ul.quickaction {
    margin-left: 80px;
}

header nav ul.quickaction a {
    color: #71B548;
    border-radius: 4px;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    transition: all ease 1.5s;
}

header nav ul.quickaction a:hover {
    color: white;
    background-color: #71B548;
}

header nav ul.quickaction .user-actions {
    position: relative;
    color: #71B548;
    font-size: 16px;
    display: block;
    padding: 12px 34px 12px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    border: 2px solid transparent;
    margin: 0;
    max-width: 190px;
    min-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header nav ul.quickaction .user-actions:before {
    content: '';
    position: absolute;
    top: 18px;
    right: 5px;
    border-top: 10px solid #71B548;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

header nav ul.quickaction .user-actions:hover {
    border-color: #E9ECE9;
}

header nav ul li {
    position: relative;
    display: inline-block;
    float: left;
}

header nav ul li .sub-menu {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border: 2px solid #E9ECE9;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header nav ul li > .trigger-user-actions:checked ~ .sub-menu {
    display: block;
}

header nav ul li > .trigger-user-actions:checked ~ .user-actions {
    border-bottom: none;
    border-color: #E9ECE9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header nav ul li .sub-menu li {
    width: 100%;
}

header nav ul li .sub-menu li a {
    border-radius: 0;
    padding: 12px;
    color: #58595B;
    font-size:14px;
}

header nav ul li a {
    display: block;
    padding: 12px 36px;
    font-weight: 500;
}

footer {
    background-color: #71B548;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-page footer {
    background-color: #FAFAFD;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

footer h3 {
    font-size: 18px;
}



input.form-control {
    height: 38px;
    box-shadow: none;
    font-size: 16px;
}

.btn {
    width: 100%;
    height: 38px;
}

/* icon section */

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin:0;
    padding:0;
}

.icon:before{
    content:"\00a0";
}

.icon.green{
    border:1px solid #71B548 !important;
}

.icon.yellow{
    border:1px solid #EBD836 !important;
}

.order-view .icon{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border:1px solid #EBD836;
}

.order-view .input-table .icon{
    width:40px;
    height: 40px;  
    margin-left:6px;
}

footer .icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

footer .icon-facebook {
    margin-left: 24px;
}

footer .icon-twitter {
    margin-left: 2px;
}

.icon-facebook {
    background-image: url('../images/icon-facebook.png');
}

.icon-twitter {
    background-image: url('../images/icon-twitter-f.png');
}

.icon-calendar {
    background-image: url('../images/icon-calendar.png');
}

.icon-clock {
    background-image: url('../images/icon-clock.png');
}

.icon-calendarV2 {
    background-image: url('../images/icon-calendarV2.png');
}

.icon-clockV2 {
    background-image: url('../images/icon-clockV2.png');
}

.icon-bicycle {
    background-image: url('../images/icon-bicycle.png');
}

.icon-smallpackage {
    background-image: url('../images/icon-smallpackage.png');
}

.icon-bigpackage {
    background-image: url('../images/icon-bigpackage.png');
}

.icon-contact-phone {
    background-image: url('../images/icon-contact-phone.png');
}

.icon-home {
    background-image: url('../images/icon-home.png');
}



/* main section */

main {
    min-height: 200px;
}

.single-page main {
    margin-top: 100px;
}

/*login page*/

#page-login {
    padding: 50px 0 110px;
}

#page-login .row .section {
    padding: 30px 0;
}

#page-login h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.frm-login {
    max-width: 345px;
    margin: auto;
}

.frm-login .form-group {
    margin-bottom: 8px;
}

.frm-login .btn {
    font-size: 24px;
    height: 46px;
}

.frm-login .form-control {
    height: 46px;
}

.frm-login .button-signup {
    background-color: #71B548;
    color: white;
}

.frm-login .button-singup-facebook {
    background-color: #465D9B;
    color: white;
}

.frm-login .txt1 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 18px;
    color: #A7A9AC;
}

.frm-login h3 {
    margin-bottom: 35px;
    text-align: center;
}

.page-login-description {
    max-width: 550px;
    margin: auto;
}

.page-login-description .row .content {
    padding-left: 210px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150px auto;
}

.page-login-description .row .content h3 {
    margin-top: 0;
    text-align: left;
}

.page-login-description .row .content p {
    font-size: 13px;
}

.page-login-description .row .content-1 {
    background-image: url('../images/page-login-img1.jpg');
    min-height: 140px;
}

.page-login-description .row .content-2 {
    background-image: url('../images/page-login-img2.jpg');
    min-height: 120px;
}

.page-login-description .row .content-3 {
    background-image: url('../images/page-login-img3.jpg');
    min-height: 170px;
}

/*end login page*/

/* yourzipcode page */

#page-yourzipcode {
    margin-top: 100px;
    margin-bottom: 200px;
}

.frm-yourzipcode {
    max-width: 490px;
    margin: auto;
}

.frm-yourzipcode .zipcodesection {
    max-width: 395px;
    margin: auto;
}

.frm-yourzipcode .supportsection {
    margin-top: 40px;
}

.frm-yourzipcode .supportsection p {
    margin-top: 0;
    margin-bottom: 40px;
}

.frm-yourzipcode .part {
    padding-left: 8px;
    padding-right: 8px;
}

.frm-yourzipcode h3 {
    margin-bottom: 40px;
    text-align: center;
}

.frm-yourzipcode label {
    line-height: 46px;
    font-weight: 400;
}

.frm-yourzipcode button {
    font-size: 21px;
}

/* end yourzipcode page */

/* section-1 */

.section {
    padding: 60px 0;
    position: relative;
}

.section h3 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

.section h4 {
    font-size: 42px;
}

.section h5 {
    font-size: 38px;
    text-align: center;
}

#section-1 {
    height: calc(100vh - 100px);
    background-image: url('../images/section-1-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-1 .content-container {
    width: 590px;
    height: 590px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: calc(50% - 295px);
    left: calc(50% - 295px);
    text-align: center;
}

#section-1 .content {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    text-align: center;
}

#section-1 h4 {
    color: #71B548;
    margin-top: 4px;
}

#section-1 .content p {
    color: white;
    font-size: 36px;
    margin-top: 12px;
}

#section-1 .content button {
    background-color: #71B548;
    font-size: 30px;
    padding: 15px 40px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    margin-top: 24px;
    width: auto;
    height: auto;
}

/* section-2 */

#section-2 .container {
    margin-top: 70px;
}

#section-2 .image-circle {
    width: 270px;
    height: 270px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #71B548;
    background-size: contain;
    position: relative;
    transform: rotateY(0deg);
    transition: all ease 0.5s;
}
#section-2 .image-circle:hover {
    transform: rotateY(360deg);
}

#section-2 .text {
    display: block;
    width: 270px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 24px;
}

#section-2 .image-circle:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#section-2 .image-circle-1:before {
    background-image: url('../images/section-2-image1.jpg');
}

#section-2 .image-circle-2:before {
    background-image: url('../images/section-2-image2.jpg');
}

#section-2 .image-circle-3:before {
    background-image: url('../images/section-2-image3.jpg');
}

/* section-3 */

#section-3 {
    background-color: #EFEAE8;
}

#section-3 .container {
    margin-top: 140px;
}

#section-3 p {
    margin-top: 40px;
}

/* section-4 */

#section-4 .container {
    text-align: center;
    margin-top: -40px;
}

#section-4 .container span {
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 90px;
    padding: 110px 10px 0;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 21px;
}

#section-4 .container .image1 {
    background-image: url('../images/section-4-image1.png');
}

#section-4 .container .image2 {
    background-image: url('../images/section-4-image2.png');
}

#section-4 .container .image3 {
    background-image: url('../images/section-4-image3.png');
}

#section-4 .container .image4 {
    background-image: url('../images/section-4-image4.png');
}

#section-4 .container .image5 {
    background-image: url('../images/section-4-image5.png');
}

/* section-5 */

#section-5 {
    background-image: url('../images/section-5-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
}

#section-5 .content {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 175px);
}

#section-5 h3 {
    color: #71B548;
    margin-bottom: 80px;
}

#section-5 p {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

/* section-6 */

#section-6 {
    background-color: #71B548;
}

#section-6 .content {
    text-align: center;
}

#section-6 h5 {
    color: white;
}

#section-6 a {
    background-color: white;
    color: #71B548;
    display: inline-block;
    font-size: 24px;
    padding: 14px 35px;
    border-radius: 4px;
    margin-top: 26px;
}

/* order page */

.order-line-section {
    height: 168px;
    background-color: #FAFAFA;
    overflow: hidden;
}

.order-line-section .order-line {
    height: 2px;
    width: 80%;
    display: block;
    background-color: #DADBDD;
    margin: 84px auto 0;
    position: relative;
    white-space: nowrap;
}

.order-line-section  .step {
    position: absolute;
    background-color: #DADBDD;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    top: -19px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.order-line-section .step:before {
    position: absolute;
    text-align: center;
    width: 150px;
    top: -40px;
    left: -56px;
    color: #DADBDD;
}

.order-line-section .step.active {
    background-color: #71B548;
}

.order-line-section .step.active:before {
    color:black;
}

.order-line-section .schedule-step {
    left: -19px;
}

.order-line-section .schedule-step:before {
    content: "Schedule";
}

.order-line-section .review-step {
    left: calc(33.3333% - 19px);
}

.order-line-section .review-step:before {
    content: "Review";
}

.order-line-section .billing-step {
    right: calc(33.3333% - 19px);
}

.order-line-section .billing-step:before {
    content: "Billing";
}

.order-line-section .confirm-step {
    right: -19px;
}

.order-line-section .confirm-step:before {
    content: "Confirm";
}

.order-view {
    margin: 50px 0;
}

.order-view > .row {
    margin-bottom: 10px;
}

.order-view .refer-text{
    padding: 6px 20px;
}

.grey-section {
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 18px;  
}

.payment{
    display:inline-block;
    height: 44px;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
}

.payment-credit{    
    background-image:url('../images/payment-credit.png');   
}

.payment-paypal{    
    text-align: right;   
}

.payment-paypal input{
    height: 40px;
}

.grey-section.nopadding {
    padding:0;
    margin-top:6px;
}

.grey-section.billing-step{
    padding:14px 50px 30px;
}

.grey-section.billing-step > .row{
    margin-top:16px;
}

.grey-section.billing-step > .row span{
    line-height: 40px;
}

.order-view .grey-section.nopadding span{
    vertical-align:middle;
}

.order-view .grey-section.nopadding .text{    
    margin-left: 14px;
}

.message-group{
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    z-index:10000;
    top:0;
    left:0;
}

.message-group .blur-layer{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:black;
    opacity: 0.6;
}

.message-group .message-body{
   display: block;
   position:absolute;
   min-height:100px;  
   width:400px;
   top:calc(50% - 100px);
   left:calc(50% - 200px);
   text-align: center;
   padding: 50px 100px;
   background-image:url('../images/bg-congratulation.png');
   background-repeat: no-repeat;
   background-position:center center;
}

.message-group .message-body h3{
    font-size: 32px;
    color:#58595B;
    font-weight: 400;
    margin:16px 0;
}

.message-group .message-body p{
    font-size: 16px;
    color:white;
    text-align: left;
}

.order-view .message-group .message-body{
    background-color:#71B548;
    width:560px;
    top:calc(50% - 150px);
    left:calc(50% - 280px);
}

.number-group {
    white-space: nowrap;
    display: inline-block;
    margin: 6px;
}

.number-group button {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #71B548;
    background: transparent;
    vertical-align: middle;
    position: relative;
}

.number-group .decrease::before,
.number-group .increase::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: calc(50% - 1px);
    left: 25%;
    background-color: #71B548;
}

.number-group .increase::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 2px;
    left: calc(50% - 1px);
    top: 25%;
    background-color: #71B548;
}

.number-group input {
    height: 38px;
    width: 80px;
    font-size: 14px;
    border: 1px solid #BBBDBF;
    border-radius: 4px;
    box-shadow: none;
    background: transparent;
    vertical-align: middle;
    margin: 0 6px;
    padding: 0 20px;
}

.tooltip-group {
    display: inline-block;
}

.tooltip-group .guide {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon-guide.png');
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    margin: 0;
    white-space: normal;
}

.tooltip-group .guide:before,
.tooltip-group .guide:after {
    display: none;
}

.tooltip-group .trigger-tooltip:checked + .guide:before,
.tooltip-group .trigger-tooltip:checked + .guide:after {
    display: block;
}

.tooltip-group .guide:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #fff;
    z-index: 1001;
}

.tooltip-group .guide:after {
    content: attr(data-tooltip);
    border-radius: 4px;
    position: absolute;
    left: 38px;
    top: -20px;
    padding: 20px;
    width: 280px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    font-size: 14px;
    font-weight: 400;
    z-index: 1000;
}

.order-view .form-control{
    background-color: transparent;
}

.order-view .form-control.w120{
    width: 120px !important;
}

.order-view .button-next {
    font-size: 16px;
    padding: 8px 30px;
    color: white;
    background-color: #71B548;
    font-weight: 500;
    border: none;
    border-radius: 4px;
}

.order-view .button-back {
    font-size: 16px;
    padding: 8px 30px;
    color: white;
    background-color: #8C8E90;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    margin-right:10px
}

.order-view p.color{
    font-size: 18px;
}

.input-table{
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-table > input,
.input-table > label{
    vertical-align: middle;
    display: inline-block;
}

.order-view .input-table{
    margin-top:6px;
}

.order-view .input-table .cell .form-control{
    width:100%;
    font-size: 14px;
    color:#6D6E71;
}

.label-price {
    height: 40px;
    width: 120px;
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    border:1px solid #BBBDBF;
    border-radius:6px;
}