﻿* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #58595B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body.single-page
.page * {
    font-size: 18px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.nowrap {
    white-space: nowrap;
}

.bg-color {
    background-color: #71B548;
    color: white;
}

.color {
    color: #71B548;
}

.color:hover {
    color: #71B548;
}

.ta-center {
    text-align: center;
}

.bor-round {
    border-radius: 4px;
}

.bor-color {
    border-width: 1px;
    border-style: solid;
    border-color: #71B548;
}

.style-button {
    border: 1px solid #71B548;
    color: #71B548;
    background-color: white;
    border-radius: 4px;
}

.style-button:hover {
    border: 1px solid #71B548;
    color: white;
    background-color: #71B548;
}

.fw-bold {
    font-weight: 500;
}

.padding1215 {
    padding: 12px 15px;
}

/* header section */

header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px  rgba(0,0,0,0.2);
    box-shadow: 1px 1px  rgba(0,0,0,0.2);
}

.single-page header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header #logo {
    display: inline-block;
    float: left;
    width: 167px;
    margin-bottom: 10px;
    margin-top: 10px;
}

header #logo img {
    max-width: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto 0;
    display: inline-block;
    float: right;
}

header nav ul.quickaction {
    margin-left: 80px;
}

header nav ul.quickaction a {
    color: #71B548;
    border-radius: 4px;
}

header nav ul.quickaction a:hover {
    color: white;
    background-color: #71B548;
}

header nav ul.quickaction .user-actions {
    position: relative;
    color: #71B548;
    font-size: 16px;
    display: block;
    padding: 10px 34px 12px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    border: 2px solid transparent;
    margin: 0;
    max-width: 190px;
    min-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header nav ul.quickaction .user-actions:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 5px;
    border-top: 10px solid #71B548;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

header nav ul.quickaction .user-actions:hover {
    border-color: #E9ECE9;
}

header nav ul li {
    position: relative;
    display: inline-block;
    float: left;
}

header nav ul li .sub-menu {
    display: none;
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border: 2px solid #E9ECE9;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header nav ul li > .trigger-user-actions:checked ~ .sub-menu {
    display: block;
}

header nav ul li > .trigger-user-actions:checked ~ .user-actions {
    border-bottom: none;
    border-color: #E9ECE9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header nav ul li .sub-menu li {
    width: 100%;
}

header nav ul li .sub-menu li a {
    border-radius: 0;
    padding: 12px;
    color: #58595B;
    font-size:14px;
}

header nav ul li a {
    display: block;
    padding: 12px 36px;
    font-weight: 500;
}

footer {
    background-color: #71B548;
    padding-top: 25px;
    padding-bottom: 15px;
}

.single-page footer {
    background-color: #FAFAFD;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

footer h3 {
    font-size: 18px;
}

footer .icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

footer .icon-facebook {
    margin-left: 24px;
}

footer .icon-twitter {
    margin-left: 2px;
}

.form-control {
    height: 38px;
    box-shadow: none;
    color: #6D6E71;
}
.btn {
    width: 100%;
    height: 46px;
}

/* icon section */

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.icon-facebook {
    background-image: url('../images/icon-facebook.png');
}

.icon-twitter {
    background-image: url('../images/icon-twitter-f.png');
}

.icon-calendar {
    background-image: url('../images/icon-calendar.png');
}

.icon-clock {
    background-image: url('../images/icon-clock.png');
}
/* main section */

main {
    min-height: 200px;
}

.single-page main {
    margin-top: 100px;
}

/*login page*/

#page-login {
    padding: 50px 0 110px;
}

#page-login .row .section {
    padding: 30px 0;
}

#page-login h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.frm-login {
    max-width: 345px;
    margin: auto;
}

.frm-login .form-group {
    margin-bottom: 8px;
}

.frm-login .btn {
    font-size: 24px;
}

.button-signup {
    background-color: #71B548;
    color: white;
}

.frm-login .button-singup-facebook {
    background-color: #465D9B;
    color: white;
}

.frm-login .txt1 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 18px;
    color: #A7A9AC;
}

.frm-login h3 {
    margin-bottom: 35px;
    text-align: center;
}

.page-login-description {
    max-width: 550px;
    margin: auto;
}

.page-login-description .row .content {
    padding-left: 210px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 150px auto;
}

.page-login-description .row .content h3 {
    margin-top: 0;
    text-align: left;
}

.page-login-description .row .content p {
    font-size: 13px;
}

.page-login-description .row .content-1 {
    background-image: url('../images/page-login-img1.jpg');
    min-height: 140px;
}

.page-login-description .row .content-2 {
    background-image: url('../images/page-login-img2.jpg');
    min-height: 120px;
}

.page-login-description .row .content-3 {
    background-image: url('../images/page-login-img3.jpg');
    min-height: 170px;
}

/*end login page*/

/* yourzipcode page */

#page-yourzipcode {
    margin-top: 100px;
    margin-bottom: 200px;
}

.frm-yourzipcode {
    max-width: 490px;
    margin: auto;
}

.frm-yourzipcode .zipcodesection {
    max-width: 395px;
    margin: auto;
}

.frm-yourzipcode .supportsection {
    margin-top: 40px;
}

.frm-yourzipcode .supportsection p {
    margin-top: 0;
    margin-bottom: 40px;
}

.frm-yourzipcode .part {
    padding-left: 8px;
    padding-right: 8px;
}

.frm-yourzipcode h3 {
    margin-bottom: 40px;
    text-align: center;
}

.frm-yourzipcode label {
    line-height: 46px;
    font-weight: 400;
}

.frm-yourzipcode button {
    font-size: 21px;
}

/* end yourzipcode page */

/* section-1 */

.section {
    padding: 60px 0;
    position: relative;
}

.section h3 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

.section h4 {
    font-size: 42px;
}

.section h5 {
    font-size: 38px;
    text-align: center;
}

#section-1 {
    height: calc(100vh - 100px);
    background-image: url('../images/section-1-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-1 .content-container {
    width: 590px;
    height: 590px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: calc(50% - 295px);
    left: calc(50% - 295px);
    text-align: center;
}

#section-1 .content {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    text-align: center;
}

#section-1 h4 {
    color: #71B548;
    margin-top: 4px;
}

#section-1 .content p {
    color: white;
    font-size: 36px;
    margin-top: 12px;
}

#section-1 .content button {
    background-color: #71B548;
    font-size: 30px;
    padding: 15px 40px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    margin-top: 24px;
    width: auto;
    height: auto;
}

/* section-2 */

#section-2 .container {
    margin-top: 70px;
}

#section-2 .image-circle {
    width: 270px;
    height: 270px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #71B548;
    background-size: contain;
    position: relative;
}

#section-2 .text {
    display: block;
    width: 270px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 24px;
}

#section-2 .image-circle:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#section-2 .image-circle-1:before {
    background-image: url('../images/section-2-image1.jpg');
}

#section-2 .image-circle-2:before {
    background-image: url('../images/section-2-image2.jpg');
}

#section-2 .image-circle-3:before {
    background-image: url('../images/section-2-image3.jpg');
}

/* section-3 */

#section-3 {
    background-color: #EFEAE8;
}

#section-3 .container {
    margin-top: 140px;
}

#section-3 p {
    margin-top: 40px;
}

/* section-4 */

#section-4 .container {
    text-align: center;
    margin-top: -40px;
}

#section-4 .container span {
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 90px;
    padding: 110px 10px 0;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 21px;
}

#section-4 .container .image1 {
    background-image: url('../images/section-4-image1.png');
}

#section-4 .container .image2 {
    background-image: url('../images/section-4-image2.png');
}

#section-4 .container .image3 {
    background-image: url('../images/section-4-image3.png');
}

#section-4 .container .image4 {
    background-image: url('../images/section-4-image4.png');
}

#section-4 .container .image5 {
    background-image: url('../images/section-4-image5.png');
}

/* section-5 */

#section-5 {
    background-image: url('../images/section-5-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
}

#section-5 .content {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 175px);
}

#section-5 h3 {
    color: #71B548;
    margin-bottom: 80px;
}

#section-5 p {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

/* section-6 */

#section-6 {
    background-color: #71B548;
}

#section-6 .content {
    text-align: center;
}

#section-6 h5 {
    color: white;
}

#section-6 a {
    background-color: white;
    color: #71B548;
    display: inline-block;
    font-size: 24px;
    padding: 14px 35px;
    border-radius: 4px;
    margin-top: 26px;
}

/* order page */

.order-line-section {
    height: 168px;
    background-color: #FAFAFA;
    overflow: hidden;
}

.order-line-section .order-line {
    height: 2px;
    width: 80%;
    display: block;
    background-color: #DADBDD;
    margin: 84px auto 0;
    position: relative;
    white-space: nowrap;
}

.order-line-section  .step {
    position: absolute;
    background-color: #DADBDD;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    top: -19px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.order-line-section .step:before {
    position: absolute;
    text-align: center;
    width: 150px;
    top: -40px;
    left: -56px;
    color: black;
}

.order-line-section .step.active {
    background-color: #71B548;
}

.order-line-section .schedule-step {
    left: -19px;
}

.order-line-section .schedule-step:before {
    content: "Schedule";
}

.order-line-section .review-step {
    left: calc(33.3333% - 19px);
}

.order-line-section .review-step:before {
    content: "Review";
}

.order-line-section .billing-step {
    right: calc(33.3333% - 19px);
}

.order-line-section .billing-step:before {
    content: "Billing";
}

.order-line-section .confirm-step {
    right: -19px;
}

.order-line-section .confirm-step:before {
    content: "Confirm";
}

.order-view {
    margin: 50px 0;
}

.order-view > .row {
    margin-bottom: 10px;
}

.grey-section {
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 18px;
}

.number-group {
    white-space: nowrap;
    display: inline-block;
    margin: 6px;
}

.number-group button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #71B548;
    background: transparent;
    vertical-align: middle;
    position: relative;
}

.number-group .decrease::before,
.number-group .increase::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: calc(50% - 1px);
    left: 25%;
    background-color: #71B548;
}

.number-group .increase::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 2px;
    left: calc(50% - 1px);
    top: 25%;
    background-color: #71B548;
}

.number-group input {
    height: 40px;
    width: 80px;
    font-size: 14px;
    border: 1px solid #BBBDBF;
    border-radius: 4px;
    box-shadow: none;
    background: transparent;
    vertical-align: middle;
    margin: 0 6px;
    padding: 0 20px;
}

.tooltip-group {
    display: inline-block;
}

.tooltip-group .guide {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon-guide.png');
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    margin: 0;
    white-space: normal;
}

.tooltip-group .guide:before,
.tooltip-group .guide:after {
    display: none;
}

.tooltip-group .trigger-tooltip:checked + .guide:before,
.tooltip-group .trigger-tooltip:checked + .guide:after {
    display: block;
}

.tooltip-group .guide:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #fff;
    z-index: 1001;
}

.tooltip-group .guide:after {
    content: attr(data-tooltip);
    border-radius: 4px;
    position: absolute;
    left: 38px;
    top: -20px;
    padding: 20px;
    width: 280px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.35);
    font-size: 14px;
    font-weight: 400;
    z-index: 1000;
}

.order-view input.form-control {
    height: 40px;
    width: 120px;
    background-color: transparent;
}

.order-view .button-next {
    font-size: 16px;
    padding: 8px 22px;
    color: white;
    background-color: #71B548;
    font-weight: 500;
    border: none;
    border-radius: 4px;
}

.order-view p.color{
    font-size: 18px;
}

.input-table{
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-table .cell{
    display: table-cell;
}

.input-table .cell .icon{
    display: block;
}

.order-view .input-table{
    margin-top:6px;
}

.order-view .input-table .cell .form-control{
    width:100%;
    font-size: 14px;
    color:#6D6E71;
}

.order-view .input-table .cell .icon{
    width:40px;
    height: 40px;
    background-size:24px;
    border:1px solid #71B548;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
}


.label-price {
    height: 40px;
    width: 120px;
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    border:1px solid #BBBDBF;
    border-radius:6px;
}
/*-------Account Setting Personal Information--------@author:hong--------*/
.page h2{
    font-size: 24px;
    color: #71B548;
    text-align: center;
}
.route-acc{
    max-width: 345px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 15px;
}
.route-acc a{
    display: inline-block;
    font-size: 18px;
}
.a-perInfo{
    text-align: left;
    float: left;
}
.a-history{
    text-align: right;
    float: right;
}
.route-acc a:hover{
    color: #71B548;
}
.active{
    color: #71B548;
    border-bottom: solid 1px #71B548;
}
.btn-save{
    font-size: 16px;
    background-color: #71B548;
    color: white;
}
.frm-eidtprofile{
    max-width: 345px;
    margin: 0 auto;
}
.frm-eidtprofile .form-group{
    margin-bottom: 8px;
}
#select-city {
    background: url(../images/arrow-bot.png) no-repeat right;
    background-position: 95% center;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

#select-city select {
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}
/*-------Account Setting history--------@author:hong--------*/
.wrap-his{
    margin-top: 50px;
}
.wrap-his-head{
    overflow: hidden;
    color: #71B548;
    font-size: 18px;
}
.wrap-his-head p{
    padding: 0px 30px;
}
.item-his{
    border: solid 1px #71B548;
    border-radius: 6px;
    padding: 15px 0;
    height: 165px;
    font-size: 18px;
    margin-bottom: 20px;
}
.item-his .item-his-inner{
    border-right:solid 1px #71B548;
    height: 105px;
    margin: 15px 0;
}
.item-his .item-his-inner:nth-child(1){
    padding: 15px;
}
.item-his .item-his-inner:last-child{
    border-right:none;
}
.item-his .item-his-img{
    text-align: center;
}
.item-his .item-his-img img{
    width: 125px;
    height: 125px;
}
.item-his .item-his-date, .item-his .item-his-hours{
    line-height: 45px;
    margin: 0 15px 10px 15px;
}
.item-his .item-his-barcode{
    display: inline-block;
    margin: 0 40px 0 10px;
}
.item-his .item-his-desc{
    margin-top:15px; 
}
.item-his .item-his-group{
    position: relative;
    width: 31px;
    height: 28px;
    display: inline-block;
    background: url("../images/img_default.png") left no-repeat;
    cursor: pointer;
}
.item-his .item-his-group:hover .item-his-popup{
    display: block;
}
.item-his-popup{
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    min-width: 170px;
    min-height: 200px;
    left:50px;
    top: -5px;
    position: absolute;
    z-index: 100;
    padding: 20px;
    border:solid 1px #e9ece9;
    display: none;
}
.item-his-popup:before{
    content:'';
    background: url("../images/arrow-popup.png") left no-repeat;
    background-size: contain;
    position: absolute;
    width: 22px;
    height: 29px;
    top:10px;
    left:-20px;
}
/*-------Refer a friend--------@author:hong--------*/
#page-referFriend{
    margin: 0 auto;
}
.referFriend-inner{
    width: 55%;
    margin: 0 auto;
    padding: 30px 0;
}
.referFriend-inner h2{
    text-align: left;
}
.frm-referFriend{
    margin:20px 0 50px 0;
}
.frm-referFriend .form-group{
    overflow: hidden;
}
.frm-referFriend label{
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #000;
}
.referFriend-result{
    margin: 40px 0px 40px 40px;
    font-style: italic;
}
/*-------Dashboard no order--------@author:hong--------*/
.wrap-dash{
    text-align: center;
    margin: 40px 0 0 0;
    overflow: hidden;
}
.wrap-dash-left{
    display: inline-block;
    float: left;
}
.wrap-dash-right{
    display: inline-block;
    float: right;
}
.wrap-dash-mid{
    margin: 0 auto;
    display: inline-block;
}
.wrap-dash .icon-dash{
    display: inline-block;
    height: 60px;
    margin-bottom: 10px;
}
.wrap-dash .status{
    font-size: 18px;
}
.wrap-dash-content{
    padding: 20px 0;
}
.wrap-dash-top h3{
    display: inline-block;
    font-size: 24px;
    margin-right: 40px;
}

.wrap-dash-inner{
    width: 320px;
    margin: 0 auto;
    text-align: center;
}
.wrap-dash-inner img{
    max-width: 216px;
    max-height: 216px;
}
.btn-order::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 20px;
    left: 13px;
    background-color: #71B548;
}
.btn-order::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 2px;
    left: 21px;
    top: 12px;
    background-color: #71B548;
}
.btn-order{
    border:solid 1px #71B548;
    color: #71B548;
    font-size: 16px;
    background: transparent;
    vertical-align: middle;
    position: relative;
    width: 150px;
    margin: 10px ;
    padding-left: 30px;
}

/*-------Dashboard mystuff--------@author:hong--------*/

.wrap-dashmystuff-inner{
    padding: 40px 0px;
}
.item-mystuff{
    padding: 15px 0;
    height: 215px;
    font-size: 18px;
    margin-bottom: 20px;
}
.item-mystuff-img{
    text-align: center;
}
.item-mystuff-img img{
    width: 185px;
    height: 185px;
}
.item-mystuff-inner{

}
.item-mystuff .item-mystuff-barcode{
    display: inline-block;
    margin: 0 50px 0 10px;
}
.item-mystuff .item-mystuff-desc{
    margin-top:15px; 
}
.item-mystuff .item-mystuff-group{
    position: relative;
    width: 31px;
    height: 28px;
    display: inline-block;
    background: url("../images/img_default.png") left no-repeat;
    cursor: pointer;
}
.add-img{
    margin-top: 20px;
}
.btn-add-img{
    border:solid 1px #71B548;
    color: #71B548;
    background: transparent;
    width: 120px;
    position: relative;
    background: url("../images/img_default.png") 62px center no-repeat;
}
.btn-add-img::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 20px;
    left: 22px;
    background-color: #71B548;
}
.btn-add-img::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 2px;
    left: 30px;
    top: 12px;
    background-color: #71B548;
}
.item-mystuff .item-mystuff-group:hover .item-mystuff-popup{
    display: block;
}
.item-mystuff-popup{
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.35);
    min-width: 170px;
    min-height: 200px;
    left:50px;
    top: -5px;
    position: absolute;
    z-index: 100;
    padding: 20px;
    border:solid 1px #e9ece9;
    display: none;
}
.item-mystuff-popup:before{
    content:'';
    background: url("../images/arrow-popup.png") left no-repeat;
    background-size: contain;
    position: absolute;
    width: 22px;
    height: 29px;
    top:10px;
    left:-20px;
}
.item-mystuff-deliver{
    padding-top: 50px;
}
.btn-deliver{
    border: solid 1px #71B548;
    color: #71B548;
    background: transparent;
    background: url("../images/icon-deliver.png") right 12px top 7px no-repeat;
    font-size: 20px;
    text-align: left;
    padding: 6px 20px;
}
.deliver-all{
    width: 30%;
    margin: 0 auto;
}
/*-------modal deliver--------@author:hong--------*/
#myModalDeliver{
    padding-top: 100px;
}
#myModalDeliver .modal-header{
    border:none;
}
#myModalDeliver .modal-body{
    padding: 10px 60px 10px 80px;
    overflow: hidden;
}
#myModalDeliver .modal-body h2{
    font-size: 24px;
    color: #71B548;
}
#myModalDeliver .modal-body .btn-save{
    width: 120px;
    float: right;
}
#myModalDeliver .modal-footer{
    border:none;
}
#myModalDeliver input[name="password"]{
    display: none;
}
.current-address{
    background: url("../images/home-address.png") left no-repeat;
    height: 57px;
    line-height: 57px;
    padding-left: 80px;
    font-size: 18px;
    margin: 10px 0;
}
#myModalDeliver .form-control{
    height: 56px;
    font-size: 18px;
}
.before-submit{
    overflow: hidden;
}
.after-submit{
    padding: 100px 0;
}
.after-submit img{
    margin-right: 20px;
    width: 72px;
    height: auto;
}
.after-submit span{
    font-size: 28px;
    color: #71B548;
}
/*-------customclass--------@author:hong--------*/
.tx-center{
    text-align: center;
}
.padd-0{
    padding: 0;
}
.page{
    padding: 40px 0;
    margin: 0 auto;
}
.marTop-20{
    margin-top: 20px;
}
