﻿@media (max-width: 1200px) {
    header .container {
        width: 100%;
        padding: 0;
    }

    header #logo {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .order-view .message-group .message-body {
        position: relative;
        width: 100%;
        top:20px;
        left:0;
    }
}

@media (min-width: 992px) {
    header nav ul li a {
        padding: 12px 24px;
    }

    header nav ul.quickaction {
        margin-left: 40px;
    }
}

@media (max-width: 992px) {
    header nav ul {
        float: none;
    }

    header nav ul.quickaction {
        margin-left: 0;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li {
        display: block;
        width: 100%;
    }

    header nav ul li:hover {
        background-color: #71B548;
    }

    header nav ul li:hover a {
        color: white;
    }
}