html {
    background-color: #F4F1EE;
}

@font-face {
    font-family: 'iconmoon';
    src: url(../fonts/icomoon.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #58585b;
    background-color:transparent;
}

header {
    height: 100px;
    box-shadow: 1px 1px 2px grey;
    background-color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
}

header > span {
    line-height: 100px;
    color: #70b447;
    font-size: 21px;
    font-weight: 500;
}

main {
    position: relative;
}

a, .cursor-pointer{
    cursor: pointer;
}

.bg-grey {
	background-color: #f1f1f2;
}

.display-inline-block {
	display: inline-block;
}

.font-size-14 {
	font-size: 14px !important;
}

.font-size-18 {
	font-size: 18px !important;
}

input.calendar {
	padding-left: 5px !important;
}

table th{
    font-weight: 500;
    /* border-bottom: 1px solid grey; */
    padding: 6px 10px;
}

input.ct-currencys {
	background:url('../images/currency_symbol.png') no-repeat;
    background-position: left 4px center;
    background-size: auto;
    text-align: left;
    padding-left: 16px !important;
}

input.currencys{
    background:url('../images/currency_symbol.png') no-repeat;
    background-position: right 4px center;
    background-size: auto;
    text-align: right;
    padding-right: 16px !important;
}

nav {
    width: 200px;
    background-color: white;
    height: 100vh;
    position: fixed;
    box-shadow: 1px 1px 2px grey;
    padding-top: 120px;
    z-index: 99;
}

.nav-item {
    display: table;
    width: 100%;
    cursor: pointer;
    vertical-align: middle;
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
    color: black;
}

.nav-item:hover {
    text-decoration: none;
}

.nav-item > .icon {
    display: table-cell;
    width: 40px;
    font-size: 32px;
}

.nav-item > span {
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
}

.nav-item.current,
.nav-item:hover {
    background-color: #70b447;
    color: white;
}

.error{
    color:red;
}

.logo {
    background: url('../../web/images/logo.svg') no-repeat;
    background-position: center center;
    background-size: 80% auto;
    display: inline-block;
    height: 100%;
    width: 200px;
    float: left;
}

.icon {
    font-family: 'iconmoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clients:before {
    content: "\e908";
}

.icon-dashboard:before {
    content: "\e902";
}

.icon-invoice:before {
    content: "\e905";
}

.icon-invoice-cus {
    background: url('../images/dolla-icon.png') no-repeat;
}

.icon-staff:before {
    content: "\e907";
}

.icon-quickbook:before {
    content: "\e906";
}

.icon-transaction:before {
    content: "\e905";
}

.icon-bin-tracking:before {
    content: "\e909";
}

.icon-bin:before {
    content: "\e904";
}

.icon-warehouse:before {
    content: "\e903";
}

.icon-calendar-admin:before {
    content: "\e901";
}

.icon-Promotion:before {
	content: "\e900";
}
.icon-warehouse, .icon-calendar-admin {
	font-size: 28px !important;
}

.fs36 {
    font-size: 36px;
}

.fs18 {
    font-size: 18px;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

.currency:before {
    content: "$";
}

.cl-0 {
    color: #70b447;
}

.cl-1 {
    color: #00adef;
}

.cl-2 {
    color: #d77837;
}

.cl-3 {
    color: #9BC7C7;
}

.cl-4 {
    color: #a7a9ac;
}

.wb-b-i{
    word-break: break-all;
}

.nopadding {
    padding: 0;
}

.nomargin{
    margin:0;
}

.margin2000{
    margin:20px 0;
}

.margin-right-15 {
	margin-right: 15px !important;
}

.margin-right-5 {
	margin-right: 5px;
}

.padding2020{
    padding: 20px;
}

.paddingL20{
    padding-left: 20px;
}

.w150{
    width:150px;
}

input.calendar{
    background:url('../images/icon-calendar.png') no-repeat;
    background-position:right 4px center;
    background-size: 20px auto;
    padding-right: 26px;
}

#st-status {
	height: 100%;
}

#ad-select {
    background: url('../images/arrow-bot.png') no-repeat right;
    background-position: right 10px center;
    overflow: hidden;
    cursor: pointer;
    /* margin-bottom: 20px; */
}

#ad-select select {
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.nobor-r {
    border-top-right-radius: 0 !important;    
    border-bottom-right-radius: 0 !important;
}
.nobor-l {
    border-top-left-radius: 0 !important;    
    border-bottom-left-radius: 0 !important;
}

.fullbtn{
    width:100%;
    background-color: #70b447;
    color:white;
    margin-top: 20px;
}

.fullbtn{
    width:100%;
    background-color: #70b447;
    color:white;
    margin-top: 20px;
}

.savebtn{
    background-color: #70b447;
    color:white;
    margin:10px 0;   
}

.savebtn:before{
    content:"SAVE";
}
.savebtn:disabled{
    background-color: grey;
    color:grey;
    background-image:url('../images/processingv2.gif');
    background-repeat: no-repeat;
    background-position: center;
    width:34px;
    height: 34px;
}
.savebtn:disabled:before{
    content:"";
    
}

.deletebtn {
	background-color: #d9534f;
    color:white;
    margin:10px 0;   
}

.deletebtn:before{
    content:"DELETE";
}


.btnSearch {
    width: 48px;
    height: 38px;
    border: none;
    box-shadow: none;
    display: block;
    background-color: #70b447;
}

.btnSearch > i {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../images/btn-search.png') no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
}

.cus-btn{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    box-shadow: none;
    padding: 0 20px;
    background-color: #70B447;
    color:white;  
    font-weight: 500;
    margin:0 6px;
    text-align: center;
    border:none;
}

.cus-btn:hover{
    text-decoration: none;
    color:white;
}

#login-form input {
    height: 38px;
    background-color:transparent;
}

.triggerRememberme{
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.triggerRememberme:before{
    content:"";
    width:20px;
    height: 20px;
    border:1px solid grey;
    border-radius: 50%;
    position: absolute;
    left:-30px;
    top:0;
}

#rememberme:checked + p > .triggerRememberme{
    text-decoration: underline;
}

#rememberme:checked + p > .triggerRememberme:before{
    border-color:#70b447;
}

#rememberme:checked + p > .triggerRememberme:after{
    content:"";
    width:12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left:-26px;
    top:4px;
    background-color: #70b447;
}

.header-bar .search-group {
    width: 100%;
    height: 40px;
    display: inline-table;
    border-radius: 4px;
    
}

.header-bar .search-group .cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.search-group input {
    height: 40px;
    box-shadow: none;
}

.search-group .labelContainer{
    width:20px;
    text-align: right;
    padding-right: 6px;
}



.search-group .btnContainer {
    width: 48px;
    vertical-align: bottom !important;
}

.search-group .btnContainer button {
    width: 48px;
    height: 40px;
    border: none;
    box-shadow: none;
    display: block;
    background-color: #70B447;
    border-radius: 4px;
}

.search-group .display-table{
    display: inline-table;
    height: 40px;
    padding: 0;
}

.search-group .display-table .cell{
    padding-right: 6px;
}

.header-bar .date-time-group .btnSearch {
    height: 40px;
    border-radius: 4px;
}

.header-bar h3 {
    margin: 8px 0;
}

/* content css */

.main-content {
    width: 100%;
    float: left;
    padding-left: 200px;
    margin-top: 100px;
}

.main-content:before,
.main-content:after {
    clear: both;
}

.main-container {
    padding: 20px 0 20px 20px;
    float:left;
    width:100%
}

.information-part {
    background-color: white;
    padding: 20px 0 20px 0;
    box-shadow: 4px 4px 6px #CCCCCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-height: 200px;
    /*Manh - 20160422*/
    position: fixed;
    right: 0;
    max-width: 455px;
    overflow-y: auto;
    height: 85%;
}

.information-part-cus {
	position: absolute;
}

.information-part .header {
    font-size: 21px;
    color: #70b447;
    padding-left: 20px;
}

.information-part hr {
    border-color: #6d6e70;
}

.schedule-group:not(:last-child) {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.schedule-group .datetime {
    display: block;
    max-width: 200px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #49b097;
    padding: 6px 0 6px 20px;
    color: white;
    font-weight: 500;
}

.schedule-group .task {
    display: table;
    padding: 0 20px;
    margin-bottom: 20px;
}

.schedule-group .task > * {
    display: table-cell;
}

.schedule-group .task .time {
    width: 80px;
    font-size: 18px;
    font-weight: 500;
    color: #70b447;
}

.schedule-group .task .content {
    font-size: 14px;
    padding-left: 20px;
}

.main-part {
    padding-right: 30px;
    margin-top: -10px;
}

.main-part .part {
    padding: 0 5px;
    margin-top: 10px;
    min-width: 300px;
}

.main-part .part .content {
    background-color: white;
    box-shadow: 2px 2px 4px #CCCCCC;
    border-radius: 4px;
    padding: 16px;
}

#dashboard-page .main-part .part .content {
    padding: 6px;
}

.main-part .part.square .content {
    height: 250px;
}

.main-part .part.square .content h2 {
    font-size: 56px;
    text-align: center;
    font-weight: 500;
    margin-top: 54px;
}

.main-part .part .content .title {
    font-size: 25px;
    text-align: center;
    margin-top: 14px;
}

.percent-group {
    display: inline-block;
    margin: 10px auto;
}

.percent-group:before {
    clear: both;
}

.percent-group:after {
    clear: both;
}

.percent-group .information {
    display: inline-block;
    margin-left: 12px;
    text-align: left;
}

.information .unused {
    font-size: 20px;
    color: #f7931d;
    font-weight: bold;
}

.information .used {
    font-size: 20px;
    color: #27a9e1;
    font-weight: bold;
}

.large-bin-percent-group {
    width: 100px;
    height: 80px;
    position: relative;
    float: left;
}

.extlarge-bin-percent-group {
    width: 140px;
    height: 110px;
    position: relative;
    float: left;
}

.large-bin-percent-group .background,
.extlarge-bin-percent-group .background {
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.large-bin-percent-group .background {
    background: url('../images/background-bin-large.png') no-repeat;
}

.extlarge-bin-percent-group .background {
    background: url('../images/background-bin-extlarge.png') no-repeat;
}

.bin-percent-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: table;
    padding: 1px;
}

.bin-percent-container .unused {
    background-color: #f7931d;
    width: 100%;
    display: table-row;
}

.bin-percent-container .used {
    background-color: #27a9e1;
    width: 100%;
    display: table-row;
}

.bin-percent-container .unused > div,
.bin-percent-container .used > div {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.bin-percent-container .unused > div > p,
.bin-percent-container .used > div > p {
    position: absolute;
    line-height: 18px;
    top: calc(50% - 9px);
    width: 100%;
    text-align: center;
}

.misc-percent-group {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 30px auto;
}

.misc-percent-group:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1b75bb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.deliver-percent-group {
    position: relative;
    width: 252px;
    height: 100px;
    margin: 30px auto 0;
}

.deliver-percent-group .background {
    background: url('../images/background-deliver.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.deliver-percent-container {
    position: relative;
    width: 100%;
    max-width: 170px;
    height: 65px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 72px;
    z-index: 0;
}

.deliver-percent-container .percent {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    z-index: 2;
}

.deliver-percent-container .newbins {
    background-color: #6fb9a7;
    color: white;
    left: 0;
}

.deliver-percent-container .dropoff {
    background-color: #cc739d;
    color: white;
    right: 0;
}

.visit-percent-group {
    margin: 30px 20px 0;
    height: 18px;
    position: relative;
    min-width: 220px;
}

.visit-percent-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.visit-percent-group .information {
    position: relative;
    margin-top: 12px;
}

.visit-percent-group .percent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.visit-percent-group .percent .text {
    text-align: center;
    line-height: 18px;
    font-size: 19px;
    color: #939597;
    white-space: nowrap;
}

.visit-percent-group .return {
    left: 0;
    background-color: #d77837;
    border-right: 1px solid white;
}

.visit-percent-group .return:before {
    content: attr(data-return);
    color: #d77837;
}

.visit-percent-group .new {
    right: 0;
    background-color: #9bc7c7;
    border-left: 1px solid white;
}

.invoices-cus .header {
    padding:10px 0 !important;
    text-align: center !important;
    font-size: 21px !important;
    color:white !important;
    background-color:#70B447 !important;
    margin-top:0 !important;
}

.invoices-cus .current-bin {
	max-width: 230px;
}

.invoices-cus h3 {
	font-size: 14px;
}

#client-page .information-part .header {
    padding: 0;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

#transaction-page .information-part .header {
    padding:10px 0;
    text-align: center;
    font-size: 21px;
    color:white;
    background-color:#70B447;
    margin-top:0;
}

#transaction-page .information-part .header.bin-track {
	text-align: left;
	padding-left: 20px;
}

#transaction-page .information-part .header.bin-track .order-num {
	height: 25px;
}

#transaction-page .information-part .header.bin-track .print-all-btn {
	float: right;
	margin-right: 15px;
	font-size: 14px;
	height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.information-part .client-information {
    padding: 20px;
}
.pos-relative {
	position: relative;
}

#bs-datepicker_date {
	background: none !important;
}

.bin-table th{
	padding: 6px 2px;
}

.bs-table {
	width: 100%;
}

.bs-table tbody {
	vertical-align: top;
}

.bs-table th {
	text-align: center;
}

.bs-table input {
	width: 50px;
	margin: 0 auto;
}

.bs-table select {
	width: 60px;
    padding: 0px;
}

.bs-table td {
	padding-left: 2px;
    padding-top: 8px;
    text-align: center;
}

.bs-table textarea {
	width: 95%;
	margin-bottom: 10px;
}

.bs-table .error-field {
	border: 1px solid red;
}

.bs-table #bs-datepicker_date {
	width: 100%;
	padding: 0px 0px 0px 3px;
}

.bs-table .bs-th th {
	font-size: 12px;
}

.bs-table .text-small-size {
	font-size: 13px;
}

.bs-table input.calendar {
    padding-left: 0px !important;
}

.information-part .bin-trans {
	padding: 0px 20px;
}

.data-container {
    margin: 20px 0;
}

.custom-table {
    width: 100%;
}

.custom-table:not(.clean) tr:not(.clean):nth-child(even) {
    background-color: #f1f1f2;
}

.custom-table-new:not(.clean) tr:not(.clean):nth-child(even) {
    background-color: white;
    border-top: 1px solid #f1f1f2;
    border-bottom: 1px solid #f1f1f2;
}

.custom-table-new:not(.clean) tr:not(.clean):last-child {
    border-bottom: none;
}

.custom-table tr td {
    padding: 6px 10px;
    font-weight: 500;
}

.custom-table.v2 tr td{
     padding:8px 10px;
}

.custom-table tr td:first-child {
    padding-left: 20px;
    white-space: nowrap;
}

.custom-table-invoice tr td:first-child {
	text-align: left;
}

.custom-table-invoice tr td:last-child {
	text-align: right;
}

/*.custom-table.editfields tr td{
    padding:4px 10px;
}*/

.custom-table.ct-editfields input{
	line-height: 37px;
}

.custom-table.editfields input{
    border-radius: 4px;
    height: 36px;
    box-shadow: none;
    border:1px solid grey;
    padding: 0 6px;
    width:100%
}

.custom-table.editfields tbody {
	vertical-align: top;
}

.custom-table.ct-editfields tr td:nth-child(1) {
	padding-top: 16px;
}    

.custom-table.ct-editfields tr td:nth-child(2) input {
	text-align: center;
}

.custom-table.ct-editfields tr td:nth-child(3) input {
	text-align: right;
}

.custom-table.ct-editfields tr td:nth-child(4) textarea {
	width: 100%;
	height: 100px;
	-webkit-border-radius: 4px; 
  	-moz-border-radius: 4px; 
  	border-radius: 4px; 
}

.data-table {
    width: 100%;
}

.data-table,
.data-table tr,
.data-table td,
.data-table th {
    border: 1px solid #bbbdc0;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f1f1f2;
}

.data-table tbody tr:hover {
    background-color: #ead836;
}

.data-table tbody tr.choose {
    background-color: #ead836;
}

.data-table th {
    text-align: center;
    font-weight: 500;
}

.data-table td,
.data-table th {
    padding: 6px;
    vertical-align: middle;
}

.action-group {
    vertical-align: middle;
    text-align: center;
}

.action {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #939597;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.action[data-status="done"] {
    border-color: #777;
}

.action[data-status="pending"] {
    border-color: #ffd966;
}

.action[data-status="ok"] {
    border-color: #70b447;
}

.action[data-status="deny"]
,.action[data-status="cancel"] {
    border-color: #ef4036;
}


.action[data-status="deny"]:before 
,.action[data-status="cancel"]:before{
    content: "";
    position: absolute;
    top: -1px;
    left: calc(50% - 1px);
    width: 2px;
    height: calc(100% + 2px );
    background-color: #ef4036;
    transform: rotate(-45deg);
}

.action[data-status="cancel"]:after{
    content: "";
    position: absolute;
    top: -1px;
    left: calc(50% - 1px);
    width: 2px;
    height: calc(100% + 2px );
    background-color: #ef4036;
    transform: rotate(45deg);
}

.bins-amount-container{
    padding: 30px 20px;
}

.bins-amount-container .bin-number{
    cursor: pointer;
    font-weight: 500;
}

.bins-amount-container .bin-number:hover{
    text-decoration: underline;
}

.bins-amount-container .bin-number.current{
    color:#70b447;
}

.current-bin{
    margin:10px auto;
    text-align: center;
}

.current-bin>p{
    margin:4px;
}

.current-bin>h3{
    color: #70b447;
    margin:6px;
}

.trigger-label-container{
    text-align: center;
    margin-bottom: 15px;
}

.list-image-trigger-label{
    height: 26px;
    width:36px;
    background:url('../images/img_default.png') no-repeat;
    background-position: center center;
    background-size: contain;
    cursor:pointer;
    position: relative;
}

.staff-charge{
    height: 26px;
    width:60px;
    /* background:url('../images/currency_symbol.png') no-repeat;
    background-position: left 5px center;
    background-size: auto 70%; */
    border:1px solid #70b447;
    border-radius: 4px;
    cursor:pointer;
    position: relative;
}

.staff-charge:before {
    content: "Charge";
    font-weight: 400;
    font-size: 14px;
    color: #70b447;
    position: absolute;
    height: 26px;
    line-height: 26px;
    right: 5px;
}

.staff-print, .staff-print-bigger {
    height: 26px;
    width:60px;
    background:url('../images/print.png') no-repeat;
    background-position: left 5px center;
    background-size: auto 70%;
    border:1px solid #70b447;
    border-radius: 4px;
    cursor:pointer;
    position: relative;
}

.staff-print:before, .staff-print-bigger:before {
    content: "Print";
    font-weight: 400;
    font-size: 14px;
    color: #70b447;
    position: absolute;
    height: 26px;
    line-height: 26px;
    right: 5px;
}

.staff-print-bigger {
	width:103px;
}

.staff-print-bigger:before {
	content: "Print bigger";
}

.upload-image-trigger-label{
    height: 26px;
    width:60px;
    background:url('../images/img_default.png') no-repeat;
    background-position: right 6px center;
    background-size: auto 60%;
    border:1px solid #70b447;
    border-radius: 4px;
    cursor:pointer;
    position: relative;
}

.upload-image-trigger-label:before{
    content:"+";
    font-weight: 400;
    font-size: 20px;
    color:#70b447;
    position: absolute;
    height: 26px;
    line-height: 26px;
    left:6px;
}

.list-image-group
,.upload-image-group{
    position: relative;
    width:80%;
    margin: auto;
    display: none;
    z-index: 99;
    margin-top: 9px;
}

#list-image-trigger:checked ~ .trigger-label-container .list-image-trigger-label:after
,#upload-image-trigger:checked ~ .trigger-label-container .upload-image-trigger-label:after,
#list-image-trigger:checked ~ .bt-list-img-trigger:after, #upload-image-trigger:checked ~ .bt-img-trigger:after{
    content:"";
    position: absolute;
    top:calc(100% - 4px);
    left:10px;
    border-width: 10px;
    border-style:solid;
    border-color: transparent transparent #70b447 transparent;
    z-index:2;
}

#list-image-trigger:checked ~ .list-image-group{
    display: block;
}

#upload-image-trigger:checked ~ .upload-image-group{
    display: block;
}


.list-image-container{   
    text-align: center;  
    border-radius: 4px;
    border:1px solid #70b447;
    border-top-width: 4px;
    position: absolute;
    background-color: white;
    width:100%;
    box-shadow: 3px 3px 5px grey;
}

.upload-image-container{
    text-align: center;  
    border-radius: 4px;
    border:1px solid #70b447;
    border-top-width: 4px;
    position: absolute;
    background-color: white;
    width:100%;
    box-shadow: 3px 3px 5px grey;
    padding:20px;
}

.list-image-container .list-image{
    max-height: 260px;
    overflow-y: auto;
    padding: 20px;
}

/* .list-image-container img{
    max-width: 100%;
    margin: 6px 0;
} */

.list-image-container .upimage{
    max-width: 88%;
    margin: 6px 0;
}

.list-image-container .delimage {
	vertical-align: top;
	margin: 10px 0 0 2px;
}

.btn-close{
    border-radius: 0;
}

#image-information{
    width:100%;
    text-align: left;
    margin-bottom: 6px;
}

#image-information td:first-child
,#image-information td:last-child{
    width:70px;
}

#image-information td:last-child button{
    width:100%;
}

.disimg{
    width: 80%;   
}

.triggerHideInformationPart{
    position: absolute;
    top:0;
    height: 100%;
    width:16px;
    background-color:#70B447;
    cursor:pointer;
}

.triggerDisplay-on
,.triggerDisplay-off{
    display:none;
}

.triggerDisplay:checked ~ .triggerDisplay-on{
    display:block
}

.triggerDisplay:not(:checked) ~ .triggerDisplay-off{
    display:block
}

.chidden{
    display: none;
}

.field-group{
    position: relative;   
}

.field-group .error-message{
    position: absolute;
    top:100%;
    right:0;
    background-color: red;
    color: white;
    font-size: 12px;
    z-index: 10;
    padding: 0 6px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.field-group.error-field input{
    border-color: red;
    border-bottom-right-radius: 0;
}

.process:disabled{
    background-color: grey;
    color:grey;
    background-image:url('../images/processingv2.gif');
    background-repeat: no-repeat;
    background-position: center;
}
/*Google*/
#legend-1-container {
	list-style: none;
	margin: 0;
	padding: 1em 0 0;
	text-align: center;
}
#legend-1-container li {
    display: inline-block;
    padding: .25em .5em;
}
#legend-1-container > li > i {
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: -.1em;
    width: 1em;
}

.border-grey {
	border-color: grey !important;
}

/* WAREHOUSE */
#warehouse-page .input-search input {
	margin-right: 5px;
}
#warehouse-page .input-search .warehouse-select {
	padding-right: 5px;
}
#warehouse-page .input-search .warehouse-select select {
	height: 40px;
}
#warehouse-page .slt-city-code {
	width: 80px;
}
#warehouse-page .input-search .inp-aisle,
#warehouse-page .input-search .inp-section,
#warehouse-page .input-search .inp-shelf {
	width: 75px;
}

#warehouse-page form.search-group .form-control {
	padding: 6px 5px;
}

#warehouse-page .input-search .inp-search {
	margin-right: 0px !important;
	width: 135px;
}

#warehouse-page .input-search input::-webkit-outer-spin-button,
#warehouse-page .input-search input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.warehouse-btn {
	text-align: center;
	margin-bottom: 30px;
}

.warehouse-btn .btn:focus {
	outline: none;
}

.modal-body .form-horizontal .col-sm-3,
.modal-body .form-horizontal .col-sm-9 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-3 {
    margin-left: 15px;
}

.crop {
	width: 120px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

/* CALENDAR */
#section-calendar .currentYear {
	font-size: 28px;
	float: right;
	margin-top: -45px;
	margin-right: 20px;
	margin-bottom: 0px;
}

#section-calendar h3.title{
	margin-bottom: 8px
}

#section-calendar .dstyle-ul{
	padding: 0 26px;
}
#section-calendar .calendar-mask{
	overflow: hidden;
}
#section-calendar .month-container{
	width:2000px;
	text-align: left;
	transition:all 0.5s ease;
}

#section-calendar .month-container .month{	
    text-align: center;
    cursor: pointer;
    display: inline-block;
	padding: 15px 15px 9px;
	margin:0;
	font-size: 17px;
	text-transform: uppercase;
}

#section-calendar .month-container .month.current{
	background-color: #187092;
}

#section-calendar .month-container .month:hover{
	background-color: #187092;
}



#section-calendar .dstyle-ul .image-container{
	height: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 0px 6px;
    cursor: pointer;
}

#section-calendar .dstyle-ul .image-container img{
	margin-top: 10px;
}

#section-calendar .dstyle-ul:hover .image-container.arrow-left{
	left:0px;
}

#section-calendar .dstyle-ul:hover .image-container.arrow-right{
	right:0px;
}


.calendar-container{
	padding:20px 80px;
}

table.DCalendar{
	width: 100%;
	height: 499px;
	border-collapse: collapse;
}

table.DCalendar thead td {
	text-align: center;
}

table.DCalendar thead tr{
	height: 49px;
}

table.DCalendar tbody td{
	position: relative;
	width:14.28%;
	height: 120px;
	border:1px solid #D0D0D0;
	cursor: pointer;
	vertical-align: top;
}

table.DCalendar tbody td:before{
	/* content: "\00a0"; */
}

table.DCalendar tbody td .calendar-date{
	position: absolute;
	top:3px;
	left:6px;
	font-size: 12px;
}

table.DCalendar tbody td .list-schedule{
	/* position: absolute;
	bottom:3px;
	left:0; */
	width: 100%;
	margin:0;
	padding: 0 4px;
}

table.DCalendar tbody td .list-schedule ul {
	float: right;
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
    font-weight: 500;
}

table.DCalendar tbody td .list-schedule ul li {
	text-align: right;
}

table.DCalendar tbody td .list-schedule .schedule{
	font-size: 9px;
	width: 100%;
	display: block;
	border-radius: 9px;
	text-align: center;
	margin:0;
	cursor: pointer;
}

table.DCalendar tbody td .list-schedule .schedule:not(:last-child){
	margin-bottom:1px; 
}
.current-pin{
	color: #b4a093;
	position: absolute;
	bottom: -65px;
	right: 20px;
	text-align: right;
	font-size: 22px;
}

.wrap-calendar-right {
	float: right;
	margin-top: 10px;
}

.drop-off-quare, .pick-up-quare {
	display: inline-block;
	width: 20px;
    height: 20px;
    vertical-align: middle;
    -webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px; 
}

.drop-off-quare {
	background: #71B748;
	margin-right: 20px;
}

.pick-up-quare {
    background: #C6A82C;
}

.dropdown-date {
	border: none;
	font-size: 25px;
    font-weight: 500;
}

.dropdown-date .caret{
	width: 15px;
    height: 10px;
    margin-left: 10px;
	color: #71B748;
	border-top: 8px dashed;
    border-top: 4px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.calendar-right {
	margin-left: 30px;
}

.calendar-right .calendar-right-header {
	margin-bottom: 10px;
}

.calendar-right .calendar-right-header span {
	padding: 3px 10px;
	margin-right: 20px;
	background: #46B197;
	color: white;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}

.calendar-right .calendar-right-header .bin-track-btn {
	background: none;
	color: #58585b;
}

.calendar-right .calendar-right-header label {
	vertical-align: middle;
}
.calendar-right .calendar-item {
	border-top: 1px solid #A6A6A8;
}
.calendar-right .calendar-item a {
	text-decoration: none;
	color: #58585b;
}
.calendar-right .customer-name {
    color: #71B748;
    font-size: 18px;
}

.calendar-right .calendar-item table {
	width: 100%;
}

.calendar-right .calendar-item table td {
	padding-top: 10px;
}

.calendar-right .calendar-item table td:first-child {
	width: 30%;
}
.calendar-right .calendar-item table td:nth-child(2) {
	font-weight: bold;
}

.calendar-right .calendar-item .main-wrap,
.calendar-right .calendar-item .sub-wrap {
	margin-bottom: 10px;
}

.calendar-right .calendar-item .main-wrap {
	cursor: pointer;
}

.calendar-right .calendar-item .sub-wrap {
	display: none;	
}

.color-drop-off {
	color: #71B748;
	font-weight: 500;
}

.color-pick-up {
	color: #C6A82C;
	font-weight: 500;
}
.DCalendar .date-active {
	border: 2px solid #74C345;
}

/* CANCEL ITEM */
#myModalCancel {
	font-weight: 500;
}

.themodel {
    padding-top: 30px;
    font-size: 16px;
}

.themodel .modal-header {
    border: none;
}

.themodel .modal-body {
    padding: 10px 60px 10px 80px;
}

.themodel .modal-body h2 {
    font-size: 24px;
    color: #71B548;
    text-align: center;
}

.themodel .modal-body h3 {
    font-size: 20px;
    color: #71B548;
}

.btn-save {
    font-size: 16px;
    background-color: #71B548;
    color: white;
}

.themodel .modal-body .btn-save{
    width: 120px;
}

.themodel .modal-body .btn-save:last-child {
    margin:6px;
}

.themodel .modal-footer {
    border: none;
}

.themodel input[name="password"] {
    /* display: none; */
}

.current-address {
    background: url("../../web/images/home-address.png") left no-repeat;
    height: 50px;
    line-height: 50px;
    padding-left: 80px;
    font-size: 16px;
    margin: 10px 0;
}

.themodel .form-control.w120 {
    width: 78%;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0;
    padding: 0;
}

.icon.green {
    border: 1px solid #71B548 !important;
}

.icon-calendar {
    background-image: url('../../web/images/icon-calendar.png');
}

.icon-clock {
    background-image: url('../../web/images/icon-clock.png');
}

.themodel .input-table .icon {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    float: right;
}

.after-submit {
    padding: 100px 0;
}

.after-submit img {
    margin-right: 20px;
    width: 72px;
    height: auto;
}

.after-submit span {
    font-size: 28px;
    color: #71B548;
}

.model-deliver{
    padding: 10px 30px !important;
}

.grey-section {
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 18px;
}

.grey-section.nopadding {
    padding: 0 !important;
    margin-top: 6px !important;
}
.model-deliver{
    padding: 10px 30px !important;
}

.padding5{
	padding: 0 5px;
}
.deliverform .grey-section {
    padding: 6px;
    margin: 6px 0;
}

.deliverform .input-table:first-child{
    margin-bottom:6px;
}

.deliverform .row {
	margin-right: -5px;
    margin-left: -5px;
}

.deliverform .grey-section.pickuptime{
    display: none;
}

#select-city,
#select-zipcode {
    background: url('../images/arrow-bot.png') no-repeat right;
    background-position: right 22px center;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

#select-city select,
#select-zipcode select {
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    cursor: pointer;
}

.form-control {
    height: 38px;
    box-shadow: none;
    color: #6D6E71;
    font-size: 16px;
}

.cus-deliverform .form-control {
	padding: 5px;
}
.input-table .dropdown-menu {
	min-width: 120px;
	display: block; 
	top: 36px; 
	bottom: auto; 
	left: 0px; 
	right: auto;
	text-align: center;
	padding: 10px;
}

.input-table input,
.input-table label {
    vertical-align: middle;
    display: inline-block;
}
.nomarginbot {
    margin-bottom: 0 !important;
}

.input-table .order-time div {
    line-height: 30px;
    cursor: pointer;
}

.input-table .order-time div:hover {
    color: #71B548;
}

#overlay-admin {
	display: none;
	height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999;
}

#loading {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

/* BIN TRACKING */
.bin-track-btn {
	cursor: pointer;
	padding: 2px 4px;
    border: 1px solid #70b447;
    -webkit-border-radius: 3px; 
  	-moz-border-radius: 3px; 
  	border-radius: 3px; 
}
.bin-track-img {
    margin-right: 7px;
}

.print-big {
	font-size: 14px;
}

.bt-img-trigger, .bt-list-img-trigger {
	position: relative;
}

.working-status-drow .caret{
	color: #70b447;
	border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.bin-track-btn-2 .btn:hover {
	color: #70b447;
}
.bin-track-btn-2 button {
	padding: 3px 12px;
	color: #70b447;
    background-color: #fff;
    border-color: #70b447;
}

.bin-track-btn-2 .cancel-btn {
	color: red;
	border-color: red;
}
.bin-track-btn-2 .cancel-btn:hover {
	color: red;
}

/*
** ORDER
*/

.bin-last-row {
	position: relative;
	color: #70b447;
}

.bin-last-row span {
	vertical-align: middle;
}

.text-inactive {
    color: #D4D6D6;
}
.input-table .order-time div.text-inactive:hover {
	color: #D4D6D6;
}
.order-edit-table th {
	padding-left: 0px !important;
}
.order-edit-table td{
	text-align: left !important;
}
.order-edit-table tr td {
    padding: 6px 0px 6px 5px !important;
}
.order-edit-table tr td:first-child {
    white-space: inherit;
}
#myModalBin {
	font-weight: 500;
}

#myModalBin .btn:focus {
	color: white;
	outline: inherit;
    outline-offset: inherit;
}
#myModalBin .btn:hover {
    color: #333;
    text-decoration: none;
}
/* STAFF PAGE */
#staff-page .header-bar form.search-group {
	width: 175px;
	display: inline-flex;
}
#staff-page .header-bar .cus-btn {
	height: 40px;
	line-height: 40px;
}
.pro-custom-table tr td {
	font-weight: normal;
}
.pro-custom-table thead tr:nth-child(2) td {
	font-weight: 500;
	font-size: 18px;
}
.pro-custom-table thead tr:nth-child(2) {
	border-bottom: 1px solid #c1c1a4;
}
.pro-custom-table tbody tr:hover {
	background-color: #ead836 !important;
}