@media screen and (max-width: 1601px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1560px) {
    body {
        font-size: 14px;
    }
    .information-part {
    	width: 445px;
    }
}

@media screen and (max-width: 1535px) {
    .information-part {
    	width: 425px;
    }
}

@media screen and (max-width: 1465px) {
    .information-part {
    	width: 395px;
    }
}

@media screen and (max-width: 1385px) {
    .information-part {
    	width: 390px;
    }
    .information-part .client-information {
	    padding: 10px;
	}
	.order-edit-table tr td {
	    padding: 6px 0px 6px 5px !important;
	}
}

@media screen and (max-width: 1300px) {
    nav {
        width: 50px;
    }

    .wb-b {
        word-break: break-all;
    }
    
    .nav-item {
        padding: 6px 0;
        width: 50px;
        font-weight: 500;
        font-size: 18px;
    }

    .nav-item:hover {
        width: 200px;
    }

    .nav-item > .icon {
        font-size: 40px;
        width: 50px;
        text-align: center;
    }
    
    .nav-item > .icon.icon-invoice-cus {
        height: 40px;
    }

    .nav-item > span {
        padding-left: 10px;
        display: none;
    }

    .nav-item:hover > span {
        display: table-cell;
    }

    .main-content {
        padding-left: 50px;
    }

    .header-bar .date-time-group {
        /*margin:12px 0;*/
    }

    .header-bar .date-time-group .form-group {
        width: 100%;
        margin-bottom: 6px;
    }

    .header-bar .date-time-group .form-group > label {
        width: 60px;
    }

    .header-bar .date-time-group .form-group input {
        width: 150px;
    }
}

@media screen and (max-width: 991px) {
    .schedule-group .task > * {
        display: block;
    }

    .search-group .display-table:last-child {
        margin-top: 6px;
    }

    .custom-table tr td:first-child {
        padding-left: 6px;
        white-space: normal;
    }
    
    .information-part{
        position: fixed;
        width:400px;
        right:0;
        top:120px;
        height:calc(100vh - 140px);
        overflow: hidden;
        box-shadow: 3px 3px 9px #333333;
    }
    
    .main-part{
        padding-right: 40px;
    }
    
    #triggerHideInformationPart:checked + .information-part{
        right:-384px;
        box-shadow:none;
    }
    
    .information-part .client-information{
        padding: 20px 10px 20px 26px;
    }
    
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
	/* For landscape layouts only */
	.mobile-hide {
		display: none;
	}
	.bin-trans textarea {
		height: 38px;
	}
	
	.bs-table .text-small-size {
		font-size: 12px;
	}
	.btn-success.margin-right-5 {
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.information-part {
	    width: 335px;
	}
	.information-part .client-information {
		padding-left: 10px;
		padding-right: 10px;
	}
	.order-edit-table tr td {
	    padding: 6px 0px 6px 5px !important;
	    font-size: 12px;
	}
	.order-edit-table .bin-last-row img {
		width: 14px;
	}
	.main-container {
    	padding: 20px 0 20px 10px;
	}
	#warehouse-page form.search-group .input-search.pull-right {
		float: inherit ! important;
	}
}